<div class="content">
    {{#each post}}
        <section class="card" href="/post/{{id}}">
        <h3>Post</h3>
          <header>{{title}}</header>
          <p>{{date_created}}</p>
        </section>
    {{/each}}
</div>
